html, body {
    font-family: myriad-pro, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.unified_container a[role="button"] {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;
    letter-spacing: 0.444444px;
    background: #E2000F;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.container .unified-container {
    padding: 0;
}

.alsense-left {
    background: #E2000F;
    background-image: url(https://ihoro-epam.github.io/src/assets/bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    flex: 1;
    z-index: 0;
}

.alsense-right {
    flex: 0 0 470px;
}

@media screen and (max-width: 1200px) {
    .alsense-right {
        background: #E2000F;
        background-image: url(../assets/bg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        flex: 1;
    }
}

.alsense-intro {
    background-color: #ffffff;
    min-width: 670px;
    padding: 32px 40px;
}

.alsense-intro h2 {
    color: #303030;
}

.alsense-intro p {
    color: #686868;
    font-size: 16px;
    line-height: 28px;
}

.alsense-intro button {
    left: 40px;
    bottom: -31px;
}

/* Brand */
.alsense-brand-container {
    top:60px;
    left:60px;
}

.alsense-brand-container .brand {
    display: inline-block;
    background: #F60000;
    align-self: flex-start;
    padding: calc(1em) calc(1em) 0;
    position: relative;
}
.alsense-brand-container .brand:before,
.alsense-brand-container .brand:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.alsense-brand-container .lifted:before,
.alsense-brand-container .lifted:after {
    bottom: 7px;
    left:11px;
    width:20%;
    height:90%;
    max-width:300px;
    max-height:100px;
    transform:rotate(-5deg);
}

.alsense-brand-container .brand:before {
    box-shadow:-15px 0 2px rgba(0, 0, 0, 0.2);
}

.alsense-brand-container .brand:after {
    box-shadow:15px 0 2px rgba(0, 0, 0, 0.2);
}

.alsense-brand-container .brand:after{
    right:12px;
    left:auto;
    transform:rotate(5deg);
  }

  .alsense-brand-container .brand .logo {
    width: 140px;
    height: 70px;
    display: inline-block;
}

.alsense-brand-container .brand .logo svg {
    fill: white;
}

/* API customization */
#api .localAccount .intro,
#api .social .intro,
#api .divider h2 {
    display: none;
}

#api>.divider {
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin: 15px 0;
}

#api .localAccount .entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#api .localAccount div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
}

#api .localAccount .entry .buttons {
    margin-top: 24px;
    margin-bottom: 15px;
}

#api .localAccount .entry .entry-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#api .localAccount .entry .entry-item label {
    display: none;
}

#api .localAccount .entry .entry-item input {
    width: 70%;
    padding: 14px 18px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    margin-bottom: 5px;
}

#api .localAccount .create {
    text-align: center;
}

#api .social .options {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#api button#DanfossExchange,
#api .localAccount .entry .buttons button#next {
    background: #E2000F;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 40px;
}
