* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

body {
    display: flex;
    flex: 1 1 auto;
    align-self: stretch;
    max-width: 100%;
    max-height: 100%;
    font-family: myriad-pro, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(48, 56, 68);
    background-color: rgb(250, 252, 252);
    z-index: 0;
}

.alsense-left, .alsense-right {
    display: flex;
    align-self: stretch;
}

.alsense-left {
    background: #E2000F;
    flex: 3 1 auto;
    background-image: url(bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
}

.alsense-right {
    flex: 2 1 auto;
}

.alsense-intro {
    width: 670px;
    margin: auto auto;
    padding: 32px 40px;
    display: inline-block;
    background-color: white;
    position: relative;
}

.alsense-intro h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 17px;
}

.alsense-intro p {
    font-size: 16px;
    line-height: 28px;
    margin: 0 9px;
    font-weight: 400;
}

.alsense-intro button {
    background: #E2000F;
    color: white;
    padding: 20px 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.444444px;
    border: none;
    border-radius: 4px;
    position: absolute;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    left: 30px;
    bottom: -30px;
}

.alsense-brand-container {
    position: absolute;
    top:60px;
    left:60px;
}

.brand {
    display: inline-block;
    background: #F60000;
    align-self: flex-start;
    padding: calc(1em) calc(1em) 0;
    position: relative;
}
.brand:before,
.brand:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.lifted:before,
.lifted:after {
    bottom: 3px;
    left:14px;
    width:20%;
    height:90%;
    max-width:300px;
    max-height:100px;
    transform:rotate(-5deg);
}

.brand:before {
    box-shadow:-15px 0 2px rgba(0, 0, 0, 0.2);
}

.brand:after {
    box-shadow:15px 0 2px rgba(0, 0, 0, 0.2);
}

.brand:after{
    right:14px;
    left:auto;
    transform:rotate(5deg);
  }

.brand .logo {
    width: 80px;
    height: 40px;
    display: inline-block;
}

.brand .logo svg {
    fill: white;
}